html, body {
    font-family: Verdana,sans-serif;
    font-size: 15px;
    line-height: 1.5;
}

body {
    display: block;
    margin: 0;
}

div {
    display: block;
}

.w3-container, .w3-panel {
    padding: 0.01em 16px;
}
