div {
  background-color: rgb(240, 240, 240);
  font-size: 11px;
  font-family: sans-serif;
  border: 1px outset rgb(218, 218, 218);
  line-height: 20px;
  padding: 0 6px;
  width: 120px;
  text-align: center;
  border-radius: 5px;
  margin-right: 10px;
  cursor: pointer;
  display: inline-block;
}

div:hover, div:focus {
  font-weight: bold;
}
